<div class="header">
    {% if not category.hasShows and not category.hasChildrenShows %}
        <a href="{{ path('category_delete', {'id':category.id}) }}">
            <i class="ui red trash icon"></i>
        </a>
    {% endif %}
    <a href="{{ path('category_edit', {'id': category.id}) }}">{{ category.name }}</a>
</div>

<div class="description">{{ category.description }}</div>