{% extends 'base.html.twig' %}

{% block body %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <div class="content">
                    {%  block fos_page_title %}{% endblock %}
                </div>
            </h2>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>


{%  endblock %}

{% block additionnal_js %}
    <script>
        $(function(){
            $("body").addClass("pushable");
        });
    </script>
{% endblock %}
